@model IEnumerable<SensoresAPP.ViewModels.SensorViewModel>

@{
    ViewData["Title"] = "Cadastrar Sensor";
}

@{var erroMessage = TempData["ErroMessage"]; }

@if (erroMessage != null)
{
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        @erroMessage.ToString()
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<h1>Cadastrar</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StatusDoSensor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomePais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeRegiao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusDoSensor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomePais)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeRegiao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>

        }
    </tbody>
</table>
